# Folders
data/
results/
.vscode/
checkpoints/
mmsegmentation/

# Logs and models
*.log
*.log.json
*.pth

# Python related
__pycache__/
.pyc

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.conda